html, body {
    height: 100%;
}

body{
    background-color: #000000;
    font-family: arial, helvetica, sans-serif;
    color: #808080;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color:#000000;
    display: flex;  
    margin: 0;
    justify-content: space-between;
  }

li {
    float: left;
}

li a {
    display: block;
    color: dfdfdf;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
    

a{
    color: #808080;
}

main {
    flex: 1 0 auto;
}

header {
    margin: auto;
    width: 50%;
    text-align: center;
}

#about-me {
    margin: 35px 0px 24px 0px;
    
}

.wrap {
    margin: auto;
    width: 1080px;
}

.footer {
    background-color: #000000;
    margin-top: 48px;
    padding: 24px;
    text-align: center;
    line-height: 24px;
    flex-shrink: 0;
}

#links {
    margin: 35px auto;
}

.dank {
    padding: 0 0 0 5px;
    vertical-align: middle;
}